{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" manifest="{%  static "app.cache" %}">
<head>
    <meta charset="utf-8">
    <title>articles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
</head>

<body>

<div class="container">

    <div class="well text-center">
        <form id="main_form" method="post">{% csrf_token %}
            <div class="btn-group">
                <a class="btn btn-primary" href="/articles/"><i class="icon-white icon-home"></i></a>
                <button class="btn btn-primary search"><i class="icon-white icon-search"></i></button>
                <button class="btn btn-primary" id="submit" type="submit"><i class="icon-white icon-download-alt"></i></button>
            </div>
        </form>
        <input class="input-medium" type="text" id="search" placeholder="search..." />
    </div>
    <div>
        <h2 class="title">{{ title }}</h2>
        <article class="article">
        </article>
        <div class="content">
        </div>
    </div>

    <br />
    <hr>

    <footer>
        <p>&copy; mr321163 2013</p>
    </footer>

</div> <!-- /container -->
<script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/local.js" %}"></script>
</body>
</html>
